---
import Project from './project.astro';

// All projects
const projects = [
    {
        Project: "flapyBird",
        link: "src/pages/FlappyBird.astro",
        imgs: "src/assets/Projects/flappybird/flappy.jpg",
        tag: "Game"
    },
    {
        Project: "breakout",
        link: "src/pages/Breakout.astro",
        imgs: "src/assets/Projects/BreakOut/BrickBreaker.png",
        tag: "Game"
    },
    {
        Project: "snake",
        link: "src/pages/Snake.astro",
        imgs: "src/assets/Projects/Snake/icon.png",
        tag: "Game"
    },
    {
        Project: "ticktacktoe",
        link: "src/pages/ticktacktoe.astro",
        imgs: "src/assets/Projects/TickTackToe/TickTackToe.jpg",
        tag: "Game"
    },
    {
        Project: "tabletoptracker",
        link: "src/pages/tabletoptracker.astro",
        imgs: "src/assets/Projects/tabletoptracker/TableTopTracker.jpg",
        tag: "app"
    },
    {
        Project: "calculator",
        link: "src/pages/calculator.astro",
        imgs: "src/assets/Projects/czlculator/icon (1).png",
        tag: "app"
    }

];
---

<section class="projects-container">
    <div class="project-grid">
        {projects.map((project) => (
            <Project project={project.Project} link={project.link} imgs={project.imgs} />
        ))}
    </div>
</section>
