---
import Project from './project.astro';

// All projects
const projects = [
    {
        Project: "flapyBird",
        link: "src/pages/FlappyBird.astro",
        imgs: "src/assets/email-9-svgrepo-com.svg",
        tag: "Game"
    },
    {
        Project: "breakout",
        link: "src/pages/FlappyBird.astro",
        imgs: "src/assets/email-9-svgrepo-com.svg",
        tag: "Game"
    },
    {
        Project: "calculator",
        link: "src/pages/FlappyBird.astro",
        imgs: "src/assets/email-9-svgrepo-com.svg",
        tag: "app"
    },
    {
        Project: "calculator",
        link: "src/pages/FlappyBird.astro",
        imgs: "src/assets/email-9-svgrepo-com.svg",
        tag: "app"
    },
    {
        Project: "calculator",
        link: "src/pages/FlappyBird.astro",
        imgs: "src/assets/email-9-svgrepo-com.svg",
        tag: "app"
    },
    {
        Project: "calculator",
        link: "src/pages/FlappyBird.astro",
        imgs: "src/assets/email-9-svgrepo-com.svg",
        tag: "app"
    }

];
---

<section class="projects-container">
    <div class="project-grid">
        {projects.map((project) => (
            <Project project={project.Project} link={project.link} imgs={project.imgs} />
        ))}
    </div>
</section>
