---
import Project from './project.astro';

// Import all project images
import flappyImg from '../../assets/Projects/flappybird/flappy.jpg';
import breakoutImg from '../../assets/Projects/BreakOut/BrickBreaker.png';
import snakeImg from '../../assets/Projects/Snake/icon.png';
import ticktacktoeImg from '../../assets/Projects/TickTackToe/TickTackToe.jpg';
import tabletoptrackerImg from '../../assets/Projects/tabletoptracker/TableTopTracker.jpg';
import calculatorImg from '../../assets/Projects/czlculator/icon (1).png';
import blenderStarter from '../../assets/Projects/Blender/blender_logo_kit/square/blender_icon_256x256.png'

// All projects
const projects = [
    {
        Project: "flapyBird",
        link: "/FlappyBird",
        imgs: flappyImg,
        tag: "Game"
    },
    {
        Project: "breakout",
        link: "/Breakout",
        imgs: breakoutImg,
        tag: "Game"
    },
    {
        Project: "snake",
        link: "/Snake",
        imgs: snakeImg,
        tag: "Game"
    },
    {
        Project: "ticktacktoe",
        link: "/TickTackToe",
        imgs: ticktacktoeImg,
        tag: "Game"
    },
    {
        Project: "tabletoptracker",
        link: "/TableTopTracker",
        imgs: tabletoptrackerImg,
        tag: "app"
    },
    {
        Project: "calculator",
        link: "/Calculator",
        imgs: calculatorImg,
        tag: "app"
    },
    {
        Project: "BlenderStarter",
        link: "/BlenderStarter",
        imgs: blenderStarter,
        tag: "blender"
    }

];
---

<section class="projects-container" id="projects">
    <div class="project-grid">
        {projects.map((project) => (
            <div class="project-item" data-project-name={project.Project}>
              <Project project={project.Project} link={project.link} imgs={project.imgs} />
            </div>
        ))}
    </div>
</section>
