---
import Project from './project.astro';

// Import all project images
import flappyImg from '../../assets/Projects/flappybird/flappy.jpg';
import breakoutImg from '../../assets/Projects/BreakOut/BrickBreaker.png';
import snakeImg from '../../assets/Projects/Snake/icon.png';
import ticktacktoeImg from '../../assets/Projects/TickTackToe/TickTackToe.jpg';
import tabletoptrackerImg from '../../assets/Projects/tabletoptracker/TableTopTracker.jpg';
import calculatorImg from '../../assets/Projects/czlculator/icon (1).png';

// All projects
const projects = [
    {
        Project: "flapyBird",
        link: "src/pages/FlappyBird.astro",
        imgs: flappyImg,
        tag: "Game"
    },
    {
        Project: "breakout",
        link: "src/pages/Breakout.astro",
        imgs: breakoutImg,
        tag: "Game"
    },
    {
        Project: "snake",
        link: "src/pages/Snake.astro",
        imgs: snakeImg,
        tag: "Game"
    },
    {
        Project: "ticktacktoe",
        link: "src/pages/ticktacktoe.astro",
        imgs: ticktacktoeImg,
        tag: "Game"
    },
    {
        Project: "tabletoptracker",
        link: "src/pages/tabletoptracker.astro",
        imgs: tabletoptrackerImg,
        tag: "app"
    },
    {
        Project: "calculator",
        link: "src/pages/calculator.astro",
        imgs: calculatorImg,
        tag: "app"
    }

];
---

<section class="projects-container" id="projects">
    <div class="project-grid">
        {projects.map((project) => (
            <Project project={project.Project} link={project.link} imgs={project.imgs} />
        ))}
    </div>
</section>
