---
---
<div class="description" id="about">
    <div class="text">
        <p class="description-text">Explore my projects, skills, and experiences. This is a very long piece of text used for testing the hero section of my portfolio. I hope it looks good and works well on all devices. If you have any feedback, please let me know!</p>
    </div>
</div>