---
import Me from "../../assets/me.jpg";
import { Image } from "astro:assets";

export interface Props {
    title?: string;
    subtitle?: string;
    image?: ImageMetadata; // <-- change from string to ImageMetadata
    altText?: string;
    showImage?: boolean;
}

const { 
    title = "Welcome to My Portfolio",
    subtitle = "I am a computer science with cybersecurity student with a passion for game development",
    image = Me,
    altText = "Hero",
    showImage = true,
} = Astro.props;
---
<div class ="hero">
    <div class ="hero-content">
        {showImage && <Image src={image} alt={altText} class="hero-image" loading="eager" />}
        <h1 class="hero-title">{title}</h1>
    </div>
    <p class="text">{subtitle}</p>
</div>