---
import Me from "../../assets/me.jpg";

export interface Props {
    title?: string;
    subtitle?: string;
    image?: string;
    altText?: string;
    showImage?: boolean;
}

const { 
    title = "Welcome to My Portfolio",
    subtitle = "I am a computer science with cybersecurity student with a passion for game development",
    image = Me.src,
    altText = "Hero",
    showImage = true,
} = Astro.props;
---
<div class ="hero">
    <div class ="hero-content">
        {showImage && <img src={image} alt={altText} class="hero-image" />}
        <h1 class="hero-title">{title}</h1>
    </div>
    <p class="text">{subtitle}</p>
</div>