---
---
<div class ="hero">
    <div class ="hero-content">
        <img src="src/assets/github-mark/github-mark.svg" alt="Hero Image" class="hero-image" />
        <h1 class="hero-title">Welcome to My Portfolio</h1>
    </div>
    <p class="text">Explore my projects, skills, and experiences. this is a very very long peice of text used for 
        testing the hero section of my portfolio. I hope it looks good and works well on all devices. If you have any feedback, please let me know!</p>
    </p>
</div>