---
import linkedin from "../../assets/in-logo (1)/in-logo/LI-In-Bug.png";
import Github from "../../assets/github-mark/github-mark.svg";
import itchIcon from "../../assets/app-icon.svg";
import emailIcon from "../../assets/email-9-svgrepo-com.svg";
---
<div class="hamburger" >
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>

<!-- Nav links -->
<nav class="nav-links">
    <a href="/" aria-label="Go to Home page">Home</a>
    <a href="#about" aria-label="Go to Description section">Description</a>
    <a href="#projects" aria-label="Go to Projects section">Projects</a>

    <div class="nav-footer">
        <a href="https://www.linkedin.com/in/callum-forsyth-26a5011b2" class="social-icon">
            <img src={linkedin.src} loading="eager" alt="LinkedIn logo" aria-label="LinkedIn profile" />
        </a>
        <a href="https://github.com/Ghosthi1" class="social-icon">
            <img src={Github.src} loading="eager" alt="Github logo" aria-label="GitHub profile" />
        </a>
        <a href="https://ghosthi.itch.io" class="social-icon">
            <img src={itchIcon.src} loading="eager" alt="itch.io logo" aria-label="itch.io profile" />
        </a>
        <a href="mailto:c-forsyth02@sky.com" class="social-icon">
            <img src={emailIcon.src} loading="eager" alt="Email logo" aria-label="Send email" />
        </a>
    </div>
</nav>



