---
import Footer from '../components/Footer/footer.astro';
import Header from '../components/Header/header.astro';
import Background from '../components/Background/Background.astro';
import '../styles/global.css';
const { pageTitle, backgroundVariant = 'default' } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Background variant={backgroundVariant} />
    <Header />

    <slot />

    <Footer />
    
    <script>
      import '../scripts/hamburger.js';
    </script>
  </body>
</html>